@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  font-family: Poppins;
}

/* @layer base {
  .button-primary {
    @apply bg-primary px-3 py-1 rounded-lg text-white hover:text-primary hover:bg-white transition;
  }
  .button-secondary {
    @apply bg-white border border-primary rounded-md text-primary hover:text-white hover:bg-primary transition focus:outline-none px-3 py-1;
  }
} */

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  background: #f7628c !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* .react-transform-zwrapper{
  width: 100% !important;
  height: 100% !important
} */

.paper {
  background-color: #ffffff;
  background-image: url("../public/paper.svg");
  /* height: 100%;
  width: 100%; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}